@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Manrope:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600&family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000;
  color: #fff;
  font-family: 'Manrope', sans-serif;
}

/* Bootstrap class override */
.btn-primary{
  --bs-btn-bg: #EE6325;
  --bs-btn-border-color: #EE6325;
  --bs-btn-color: #141B22;
}
.btn-primary:hover{
  background-color: transparent;
  border-color: #EE6325;
}
.btn-outline-primary{
  --bs-btn-border-color: #EE6325;
  --bs-btn-color: #fff;
}
.btn-outline-primary:hover{
  background-color: #EE6325;
  border-color: #EE6325;
}

.bg-dark{
  background-color: #141B22;
}

.primary-color{
  color: #EE6325;
}

.accordion{
  --bs-accordion-color: #ffffff;
  --bs-accordion-bg: #141B22;
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-inner-border-radius: 0px;
  --bs-accordion-btn-color: #ffffff;
  --bs-accordion-btn-active-icon : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 11H5V13H19V11Z' fill='rgba(33,231,134,1)'%3E%3C/path%3E%3C/svg%3E");
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z' fill='rgba(33,231,134,1)'%3E%3C/path%3E%3C/svg%3E");
  --bs-accordion-btn-focus-border-color: #2734415e;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
  --bs-accordion-active-color: #C2C3C5;
  --bs-accordion-active-bg: #141B22;
}

.accordion-item {
  color: #C2C3C5;
  font-size: 14px;
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #b5b5b5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #515151;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}